.select-btn[b-o4fmvw824p], li[b-o4fmvw824p] {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select-btn[b-o4fmvw824p] {
    display: flex;
    justify-content: space-between;
}

    .select-btn i[b-o4fmvw824p] {
        transition: transform 0.3s linear;
    }

.wrapper.active .select-btn i[b-o4fmvw824p] {
    transform: rotate(-180deg);
}

.content-dropdownlist[b-o4fmvw824p] {
    padding: 20px 20px 5px;
    margin-top: 15px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.wrapper.active .content[b-o4fmvw824p] {
    display: block;
}

.content .search[b-o4fmvw824p] {
    position: relative;
}

.search i[b-o4fmvw824p] {
    top: 50%;
    left: 15px;
    color: #999;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
}

.search input[b-o4fmvw824p] {
    padding: 0 20px 0 43px;
    height: 40px;
}

.content .options[b-o4fmvw824p] {
    margin-top: 10px;
    margin-bottom: 0px;
    max-height: 250px;
    overflow-y: auto;
    padding: 0;
}

.options[b-o4fmvw824p]::-webkit-scrollbar {
    width: 7px;
}

.options[b-o4fmvw824p]::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.options[b-o4fmvw824p]::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

    .options[b-o4fmvw824p]::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
    }

.options li[b-o4fmvw824p] {
    height: 50px;
    padding: 0 13px;
}

    .options li:hover[b-o4fmvw824p], li.selected[b-o4fmvw824p] {
        border-radius: 5px;
        background: #f1f1f1;
    }

.selected-item[b-o4fmvw824p] {
    display: inline-block;
    padding: .35em .65em;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.selected-item-text[b-o4fmvw824p] {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #a8a8bd;
    padding: .2rem .75rem;
    font-size: 1rem;
    border-radius: 10px;
    width: fit-content;
    background: #e2e2e9;
    margin-bottom: 0;
}