/* _content/SMSDOME-Standard-Contest-BlazorServer/Pages/Component/D.razor.rz.scp.css */
.select-btn[b-354kcu6eft], li[b-354kcu6eft] {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select-btn[b-354kcu6eft] {
    display: flex;
    justify-content: space-between;
}

    .select-btn i[b-354kcu6eft] {
        transition: transform 0.3s linear;
    }

.wrapper.active .select-btn i[b-354kcu6eft] {
    transform: rotate(-180deg);
}

.content-dropdownlist[b-354kcu6eft] {
    padding: 5px 10px 5px;
    margin-top: 10px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border: 1px solid gainsboro;
}

.wrapper.active .content[b-354kcu6eft] {
    display: block;
}

.content .search[b-354kcu6eft] {
    position: relative;
}

.search i[b-354kcu6eft] {
    top: 50%;
    left: 15px;
    color: #999;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
}

.search input[b-354kcu6eft] {
    padding: 0 20px 0 43px;
    height: 40px;
}

.content .options[b-354kcu6eft] {
    margin-bottom: 0px;
    max-height: 250px;
    overflow-y: auto;
    padding: 0;
}

.options[b-354kcu6eft]::-webkit-scrollbar {
    width: 7px;
}

.options[b-354kcu6eft]::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.options[b-354kcu6eft]::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

    .options[b-354kcu6eft]::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
    }

.options li[b-354kcu6eft] {
    height: 50px;
    padding: 0 13px;
}

    .options li:hover[b-354kcu6eft], li.selected[b-354kcu6eft] {
        border-radius: 5px;
        background: #f1f1f1;
        border: 1px solid gainsboro;
    }

.selected-item[b-354kcu6eft] {
    display: inline-block;
    padding: .35em .65em;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.selected-item-text[b-354kcu6eft] {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #a8a8bd;
    padding: .2rem .75rem;
    font-size: 1rem;
    border-radius: 10px;
    width: fit-content;
    background: #e2e2e9;
    margin-bottom: 0;
}
/* _content/SMSDOME-Standard-Contest-BlazorServer/Pages/Component/MultipleDropDownList.razor.rz.scp.css */
.select-btn[b-o4fmvw824p], li[b-o4fmvw824p] {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select-btn[b-o4fmvw824p] {
    display: flex;
    justify-content: space-between;
}

    .select-btn i[b-o4fmvw824p] {
        transition: transform 0.3s linear;
    }

.wrapper.active .select-btn i[b-o4fmvw824p] {
    transform: rotate(-180deg);
}

.content-dropdownlist[b-o4fmvw824p] {
    padding: 20px 20px 5px;
    margin-top: 15px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.wrapper.active .content[b-o4fmvw824p] {
    display: block;
}

.content .search[b-o4fmvw824p] {
    position: relative;
}

.search i[b-o4fmvw824p] {
    top: 50%;
    left: 15px;
    color: #999;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
}

.search input[b-o4fmvw824p] {
    padding: 0 20px 0 43px;
    height: 40px;
}

.content .options[b-o4fmvw824p] {
    margin-top: 10px;
    margin-bottom: 0px;
    max-height: 250px;
    overflow-y: auto;
    padding: 0;
}

.options[b-o4fmvw824p]::-webkit-scrollbar {
    width: 7px;
}

.options[b-o4fmvw824p]::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.options[b-o4fmvw824p]::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

    .options[b-o4fmvw824p]::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
    }

.options li[b-o4fmvw824p] {
    height: 50px;
    padding: 0 13px;
}

    .options li:hover[b-o4fmvw824p], li.selected[b-o4fmvw824p] {
        border-radius: 5px;
        background: #f1f1f1;
    }

.selected-item[b-o4fmvw824p] {
    display: inline-block;
    padding: .35em .65em;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.selected-item-text[b-o4fmvw824p] {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #a8a8bd;
    padding: .2rem .75rem;
    font-size: 1rem;
    border-radius: 10px;
    width: fit-content;
    background: #e2e2e9;
    margin-bottom: 0;
}
/* _content/SMSDOME-Standard-Contest-BlazorServer/Shared/ClientLayout.razor.rz.scp.css */
.page[b-up52q24vci] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-up52q24vci] {
    flex: 1;
}

.sidebar[b-up52q24vci] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-up52q24vci] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-up52q24vci]  a, .top-row .btn-link[b-up52q24vci] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-up52q24vci] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-up52q24vci] {
        display: none;
    }

    .top-row.auth[b-up52q24vci] {
        justify-content: space-between;
    }

    .top-row a[b-up52q24vci], .top-row .btn-link[b-up52q24vci] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-up52q24vci] {
        flex-direction: row;
    }

    .sidebar[b-up52q24vci] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-up52q24vci] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-up52q24vci], article[b-up52q24vci] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/SMSDOME-Standard-Contest-BlazorServer/Shared/MainLayout.razor.rz.scp.css */
.page[b-yb8lonbc5q] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-yb8lonbc5q] {
    flex: 1;
}

.sidebar[b-yb8lonbc5q] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-yb8lonbc5q] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-yb8lonbc5q]  a, .top-row .btn-link[b-yb8lonbc5q] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-yb8lonbc5q] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-yb8lonbc5q] {
        display: none;
    }

    .top-row.auth[b-yb8lonbc5q] {
        justify-content: space-between;
    }

    .top-row a[b-yb8lonbc5q], .top-row .btn-link[b-yb8lonbc5q] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-yb8lonbc5q] {
        flex-direction: row;
    }

    .sidebar[b-yb8lonbc5q] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-yb8lonbc5q] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-yb8lonbc5q], article[b-yb8lonbc5q] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/SMSDOME-Standard-Contest-BlazorServer/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-lf7c72vyiz] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-lf7c72vyiz] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-lf7c72vyiz] {
    font-size: 1.1rem;
}

.oi[b-lf7c72vyiz] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-lf7c72vyiz] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-lf7c72vyiz] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-lf7c72vyiz] {
        padding-bottom: 1rem;
    }

    .nav-item[b-lf7c72vyiz]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-lf7c72vyiz]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-lf7c72vyiz]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-lf7c72vyiz] {
        display: none;
    }

    .collapse[b-lf7c72vyiz] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}



