@page "/"
@using SMSDOME_Standard_Contest_BlazorServer.Pages.Component

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@* <MultipleDropDownList DataSource="DataSource" Label="Select Regex"></MultipleDropDownList> *@
<Tests></Tests>
@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
