@inherits LayoutComponentBase

<PageTitle>SMSDOME-Standard-Contest-BlazorServer</PageTitle>

<div class="page">
    <SMSDOME_Standard_Contest_BlazorServer.Pages.Component.Toasts.Toasts ErrorClass="alert-danger"
        InfoClass="alert-info" SuccessClass="alert-success" WarningClass="alert-warning" InfoIconClass="bi bi-info"
        SuccessIconClass="bi bi-check2" ErrorIconClass="bi bi-x-circle" WarningIconClass="bi bi-exclamation"
        Timeout="60">
    </SMSDOME_Standard_Contest_BlazorServer.Pages.Component.Toasts.Toasts>
    <div class="sidebar">
        <NavMenu></NavMenu>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
